header{
height: 100px;
border: solid 2px;
}
#logo-intestazione{
    width: 300px;
    margin-top: 20px;
}
#background-intestazione{
    background-image: url(img\pattern.png);
}
.underlined{
    background-color: yellow;
}
table{
width:100%;
}
thead{
    background-color: aqua;
}
.uno{
    background-color: rgba(0, 255, 255, 0.238);
}
h3{
    color: rgba(0, 0, 0, 0.399);
}
.blue{
    color: aqua;
}
#img1{
    width: 200px;
    height: 200px;
    border: solid;
    background-image: url(img\monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}
#img2{
    width: 200px;
    height: 200px;
    border: solid;
    background-image: url(img\graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}